.auth-container {
  background-image: url('/login-bg-mob.svg');
}

/* LOGIN.JS */
.login-container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.image {
  width: fit-content;
  margin-top: 4rem;
  padding: 24px 40px 16px 40px;
  margin-bottom: 24px;

  display: grid;
  place-items: center;
  background: rgba(255, 253, 253, 0.4);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn {
  width: 14rem;
  align-self: center;
  padding: 1rem 2.5rem;

  text-align: center;
  border-radius: 25em;
  border: none;
}
.login-form {
  padding: 16px 24px 24px 24px;
  width: fit-content;

  display: flex;
  flex-direction: column;
}

/* glass effect */
.login-form {
  background: rgba(255, 253, 253, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.login-form > p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.input-field {
  height: 50px;
  padding: 0 16px;
  width: 17rem;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-register-btn {
  background-color: white;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
  margin: 8px 0 0 0;
  color: white;
  background-color: var(--second);
}

/* REGISTER.JS */
.register-container {
  height: 100vh;
  padding: 16px;
  color: white;
  letter-spacing: 0.5px;
}
.register-back-btn {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
.register-back-btn::after {
  content: 'Sign In';
  margin-left: 10px;
  font-size: medium;
}

.register-form {
  margin: 8.3rem auto 0 auto;
  padding: 16px 24px 24px 24px;

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form {
  background: rgba(255, 253, 253, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.register-form > p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.register-form > input {
  width: 17rem;
}
.register-btn {
  cursor: pointer;
  width: 14rem;
  margin: 8px 0 0 0;
  color: white;
  background-color: var(--second);
}

@media screen and (min-width: 480px) {
  .auth-container {
    background-image: url('/login-bg.svg');
    background-size: cover;
  }
  .login-container {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
  }
  .login-form {
    margin-left: -16px;
    margin-top: -4px;
  }

  /* Register */
  .register-container {
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
  }
  .register-form {
    margin: 0;
  }
  .register-back-btn {
    position: absolute;
    top: 30px;
    left: 50px;
  }
  .register-back-btn::after {
    content: 'Sign In';
    margin-left: 10px;
    font-size: medium;
  }
  .register-container > div > h2 {
    font-size: 40px;
  }
  .register-container > div > p {
    font-size: 24px;
  }
}
