/* LOGIN.JS */

.auth-container {
  height: 100vh;
  display: flex;
  color: #4e6ee0;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.image {
  height: 100px;
  width: 100px;

  display: grid;
  margin-bottom: 54px;
  border-radius: 12px;
  place-items: center;
  background-color: #4e6ee0;
}

.btn {
  margin: 8px 0;
  padding: 1rem 2.5rem;

  text-align: center;
  border-radius: 25rem;
  border: 2px solid #4e6ee0;

  width: 16rem;
}
.login-form {
  width: 19rem;
}
.input-field {
  margin: 8px 0;
  height: 50px;
  width: 100%;

  padding: 0 16px;
  font-size: large;
  letter-spacing: 1px;
  border: 2px solid grey;
  border-radius: 8px;
}

.login-btn {
  margin-top: 32px;
  color: white;
  background-color: #4e6ee0;
}

/* REGISTER.JS */
.register-container {
  height: 100vh;
  margin: 24px;
}
.register-back-btn {
  font-size: 24px;
  font-weight: 600;
}

.register-container > h2 {
  margin-top: 48px;
}

.register-form {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form > input {
  width: 19rem;
}
.register-form > a {
  color: white;
  margin-top: 32px;
  background-color: #4e6ee0;
}
