/* LOGIN.JS */

.auth-container {
  background-image: url('/login-bg-mob.svg');
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100vh;
}

.image {
  margin-top: 6rem;
  padding: 24px;
  display: grid;
  place-items: center;
  border-radius: 12px;
  margin-bottom: 24px;
  background: rgba(255, 253, 253, 0.4);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn {
  width: 14rem;
  align-self: center;
  padding: 1rem 2.5rem;

  text-align: center;
  border-radius: 25em;
  border: none;
}
.login-form {
  padding: 16px 24px 24px 24px;
  width: fit-content;

  display: flex;
  flex-direction: column;
}

/* glass effect */
.login-form {
  background: rgba(255, 253, 253, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.login-form > p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

.input-field {
  height: 50px;
  padding: 0 16px;
  width: 17rem;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.login-register-btn {
  background-color: white;
  cursor: pointer;
}
.login-btn {
  cursor: pointer;
  margin: 8px 0 0 0;
  color: white;
  background-color: var(--second);
}

/* REGISTER.JS */
.register-container {
  padding: 16px;
  color: white;
  height: 100vh;
  background-image: url('/login-bg-mob.svg');
}
.register-back-btn {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.register-form {
  margin: 7rem auto 0 auto;
  padding: 16px 24px 24px 24px;

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form {
  background: rgba(255, 253, 253, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.register-form > p {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.register-form > input {
  width: 17rem;
}
.register-btn {
  cursor: pointer;
  width: 14rem;
  margin: 8px 0 0 0;
  color: white;
  background-color: var(--second);
}
