.book-collection {
  background-color: var(--background);
}

.collection-tab-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 16px;
  overflow: hidden;
  margin: 0 8px;
}
.collection-tab {
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;
  height: 50px;
  display: grid;
  place-content: center;
  background-color: var(--sixth);
}
.Owned-tab {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.content {
  padding: 0 0 80px 16px;
  overflow: scroll;
}
.collection-heading {
  margin: 16px 16px 8px 0;
  font-size: large;
  font-weight: bold;
}

.collection-heading > span:nth-child(2) {
  float: right;
  font-weight: normal;
}

/* Featured */
.reading-books-container {
  display: flex;
  margin-top: 16px;
  overflow-x: scroll;
}
/* .feature-books-card {
  width: 160px;
  height: 200px;
  text-align: center;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 16px;
  background-color: aqua;
}
.feature-books-card > div {
  height: 75%;
  background-color: aquamarine;
}
.feature-books-card > p {
  padding: 2px 4px;
} */

/* Owned */
.owned-books {
  margin-top: 16px;
  display: grid;
  row-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}

/* Reviews */

.reviews-cards {
  margin-right: 16px;
}

.reviews-card {
  margin: 16px 0;
  padding: 0 16px;
  height: 160px;

  display: grid;
  grid-template-columns: 30% 70%;
  border-radius: 15px;
  background-color: var(--sixth);
  overflow: hidden;
}
.div-image {
  margin: 16px 0;

  overflow: hidden;
  height: 130px;
  border-radius: 10px;
}

.reviews-card-info {
  margin-top: 16px;
  margin-left: 24px;
  height: 130px;
  overflow: hidden;
  color: white;
  /* background-color: aqua; */
}
.reviews-card-info > p {
  margin-top: 0;
  margin-bottom: 5px;
}

@media screen and (min-width: 480px) {
  /* Featured */
  .reading-books-container {
    justify-content: space-evenly;
  }

  /* Owned */
  .owned-books {
    grid-template-columns: repeat(4, 1fr);
  }

  /* Review */
  .reviews-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
  }
}
