.collection-tab-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: aquamarine;
  border-radius: 16px;

  overflow: hidden;
}

.collection-tab {
  height: 50px;
  display: grid;
  place-content: center;
}

.content {
  padding: 16px;
}
.collection-heading {
  margin: 16px 16px 8px 0;
  font-size: large;
  font-weight: bold;
}

.collection-heading > span:nth-child(2) {
  float: right;
  font-weight: normal;
}

/* Featured */
.reading-books-container {
  display: flex;
  margin-top: 16px;
  overflow-x: scroll;
}
.feature-books-card {
  width: 160px;
  height: 250px;
  text-align: center;
  margin-right: 8px;
  overflow: hidden;
  border-radius: 16px;
  background-color: aqua;
}
.feature-books-card > div {
  height: 75%;

  background-color: aquamarine;
}
.feature-books-card > p {
  padding: 0 4px;
  width: 160px;
  font-weight: 500;
}

/* Owned */
.owned-cards {
  display: grid;
  column-gap: 8px;
  grid-template-columns: repeat(2, 1fr);
}

.owned-card {
  margin: 8px 0;
  height: 250px;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  background-color: aquamarine;
}
.owned-card > div {
  width: 100%;
  height: 30em;
  background-color: yellow;
}

/* Reviews */

.reviews-cards {
  display: flex;
  flex-direction: column;
}

.reviews-card {
  margin: 8px 0;
  padding: 16px;
  height: 160px;
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  background-color: aquamarine;
}
.div-image {
  width: 6em;
  height: 8em;
  border-radius: 15px;
  background-color: yellow;
}

.reviews-card-info {
  margin-left: 24px;
}
