.individual-book {
  display: grid;
  grid-template-rows: 8vh 84vh auto;
}
.book-image-container {
  height: 240px;
  margin-bottom: 32px;
  background-color: var(--cardTextBg);
}
.book-image {
  position: relative;
  top: 40px;

  width: 160px;
  height: 240px;
  background-color: white;

  border-radius: 16px;
}

.individual-book-info {
  padding: 8px;
  padding-bottom: 52px;

  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}
.individual-book-info :is(h2, h3) {
  text-align: center;
}
.individual-book-info > p {
  margin-left: 16px;
}

.individual-book-info > p:first-of-type {
  font-weight: 500;
  font-size: large;
  margin-bottom: 0;
}

.individual-book-info > div > div > p {
  font-weight: 500;
}

.individual-book-info > div {
  display: flex;
  justify-content: space-around;
}

/* Books */
.books-collection {
  padding-bottom: 72px;
}
.books-collection > div {
  margin-left: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .books-collection > div {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
}
