.dashboard {
  height: -webkit-fill-available;
  display: grid;
  grid-template-rows: 10vh 82vh 8vh;
}

.dashboard-main {
  padding: 0 0 8px 16px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-title > a {
  margin-right: 16px;
}

.dashboard-new-arrivals {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
}

.dashboard-books-card {
  height: fit-content;
  margin-right: 8px;
  border-radius: 16px;
  background-color: aquamarine;
}

.dashboard-stream {
  display: flex;
  overflow-x: scroll;
}
.stream-container {
  margin-right: 16px;
  /* width: 140px; */
  background-color: aquamarine;
}
