.dashboard {
  display: grid;
  grid-template-rows: 10vh 82vh 8vh;
}
/* Menu */
.burger-menu {
  display: flex;
  flex-direction: column;
}
.burger-menu > div:first-child {
  display: none;
}

.dashboard-main {
  padding: 0 0 8px 16px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-title > a {
  margin-right: 16px;
}
.dashboard-title > p {
  font-weight: 600;
  font-size: larger;
}

.dashboard-new-arrivals {
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: scroll;
}
.dashboard-books-card {
  width: 160px;
  height: 260px;

  display: grid;
  place-items: center;
  grid-template-rows: 75% 25%;

  text-align: center;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 16px;
  background-color: gainsboro;
}

.dashboard-books-card > p {
  /* padding: 2px 4px 0 4px; */

  font-weight: 400;
}

.dashboard-stream {
  display: flex;
  overflow-x: scroll;
}
.stream-container {
  margin-right: 16px;
  /* width: 140px; */
  background-color: aquamarine;
}
