.dashboard-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: red;
}
.dashboard-header-time {
  display: flex;
  align-items: center;
}
.dashboard-header-time > p:first-child {
  font-size: 2em;
  font-weight: 600;
}
.dashboard-header > div {
  display: flex;
  align-items: center;
}
.dashboard-header-search {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: aliceblue;
}
.dashboard-header-profile {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
}
