.dashboard {
  display: grid;
  grid-template-rows: 10vh 82.4vh auto;
}
/* Header */
.dashboard-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--forth);
}
.dashboard-header > div > p {
  color: white;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* Menu */
.dashboard-main {
  padding: 0 0 16px 16px;
  overflow-y: scroll;
}

.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-title > a {
  margin-right: 16px;
}
.dashboard-title > p {
  font-size: large;
  font-weight: 500;
}

.dashboard-books-card {
  width: 160px;
  height: 260px;

  display: grid;
  place-items: center;
  grid-template-rows: 190px auto;

  margin-right: 16px;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.227);
}

.dashboard-books-card > p {
  padding: 0 6px;
}

.dashboard-subject {
  display: flex;
  overflow-x: scroll;
}
