.dashboard {
  display: grid;
  grid-template-rows: 10vh 82vh auto;
}
/* Header */
.dashboard-header {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(151, 205, 207);
}
.dashboard-header-time {
  display: flex;
  align-items: center;
}
.dashboard-header-time > p:first-child {
  font-size: 2em;
  font-weight: 600;
}
.dashboard-header > div {
  display: flex;
  align-items: center;
}
.dashboard-header-search {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  background-color: aliceblue;
}
.dashboard-header-profile {
  width: 50px;
  height: 50px;
  background-color: aliceblue;
}

/* Menu */
.dashboard-main {
  padding: 0 0 8px 16px;
  overflow-y: scroll;
}

.dashboard-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-title > a {
  margin-right: 16px;
}
.dashboard-title > p {
  font-weight: 600;
  font-size: larger;
}

.dashboard-books-card {
  width: 160px;
  height: 260px;

  display: grid;
  place-items: center;
  grid-template-rows: 75% 25%;

  text-align: center;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 16px;
  background-color: gainsboro;
}

.dashboard-books-card > p {
  font-weight: 400;
}

.dashboard-subject {
  display: flex;
  overflow-x: scroll;
}
