.footer-container {
  position: fixed;
  width: 100vw;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;

  background-color: rgb(151, 205, 207);
  padding: 8px 0;
}
.footer-container > a {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  padding: 8px;
  background-color: white;
}
