/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */
:root {
  /* --header: #8ecae6;
  --footer: #219ebc;
  --dark: #023047;
  --yellowPallet: #ffb703; */
  --background: #eaebed;

  --cardTextBg: #5b8291;
  --first: #004cbb;
  --second: #0056d6;
  --third: #0061f1;
  --forth: #2e424d;
  --fifth: #4385ff;
  --sixth: #5b8291;
  --seventh: #93b9fe;

  /* --one: #2e424d;
  --two: #5b8291;
  --three: #98dad9;
  --four: #eaebed;
 */
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Poppins', -apple-system, Roboto, sans-serif;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}
